body {
  background-color: #ffffff;
  color: #000000;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin: 20px 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 5px 0;
}

p{
  font-size: 1em;
  margin: 15px 0 15px 0;
}

figcaption{
  font-size: 0.8em;
}

.author {
  font-size: 0.8em;
  margin-bottom: 30px;
}
nav {
  background-color: #000000;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  background: #fff url (images/bloc-logo.png) no-repeat top center;
  margin: 20px;
  width: 100px;
}

.large-pic {
  background: #fff url (images/instagram-pic.jpg) no-repeat center;
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  line-height: normal;
  font-weight:400;
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {color:pink; } /* mouse over*/
